BraveSoftware/Brave-Browser
dconf
fish
lazygit
libreoffice/4
nwg-look
nwg-look
pulse
xsettingsd
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
cava
spicetify/Extracted
spicetify/config-xpui.ini
spicetify/Backup
spotify
